name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test-scripts:
    name: Test Scripts
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: astral-sh/setup-uv@803947b9bd8e9f986429fa0c5a41c367cd732b41 # v7.2.1
        with:
          python-version: 3.11
          enable-cache: true
          cache-dependency-glob: "uv.lock"

      - uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: ~/.cache/pre-commit
          key: pre-commit-5|${{ hashFiles('uv.lock') }}|${{ hashFiles('.pre-commit-config.yaml') }}

      - run: uv run alias check
      - run: uv run alias test

  test-workflow:
    name: Test Workflow
    uses: ./.github/workflows/cmake-builder.yml
    with:
      runs-on: ubuntu-latest
      toolchain: gcc
      cmake_project_root: ./tests
      presets: |
        {
          "debug": {},
          "release": { "artifact": { "retention_days": 1 }}
        }

  test:
    if: ${{ always() }}
    runs-on: ubuntu-latest
    needs: [test-scripts, test-workflow]
    steps:
      - run: exit 1
        if: ${{ contains(toJSON(needs.*.result), 'failure') || contains(toJSON(needs.*.result), 'cancelled') }}
