name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test-scripts:
    name: Test Scripts
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: astral-sh/setup-uv@5a7eac68fb9809dea845d802897dc5c723910fa3 # v7.1.3
        with:
          python-version: 3.11
          enable-cache: true
          cache-dependency-glob: "uv.lock"

      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: ~/.cache/pre-commit
          key: pre-commit-5|${{ hashFiles('uv.lock') }}|${{ hashFiles('.pre-commit-config.yaml') }}

      - run: uv run alias check
      - run: uv run alias test

  test-workflow:
    name: Test Workflow
    uses: ./.github/workflows/cmake-builder.yml
    with:
      runs-on: ubuntu-latest
      toolchain: gcc
      cmake_project_root: ./tests
      presets: |
        {
          "debug": {},
          "release": { "artifact": { "retention_days": 1 }}
        }

  test:
    if: ${{ always() }}
    runs-on: ubuntu-latest
    needs: [test-scripts, test-workflow]
    steps:
      - run: exit 1
        if: ${{ contains(toJSON(needs.*.result), 'failure') || contains(toJSON(needs.*.result), 'cancelled') }}
