name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test-scripts:
    name: Test Scripts
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0
        with:
          python-version: 3.11
          enable-cache: true
          cache-dependency-glob: "uv.lock"

      - uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
        with:
          path: ~/.cache/pre-commit
          key: pre-commit-5|${{ hashFiles('uv.lock') }}|${{ hashFiles('.pre-commit-config.yaml') }}

      - run: uv run alias check
      - run: uv run alias test

  test-workflow:
    name: Test Workflow
    uses: ./.github/workflows/cmake-builder.yml
    with:
      runs-on: ubuntu-latest
      toolchain: gcc
      cmake_project_root: ./tests
      presets: |
        {
          "debug": {},
          "release": { "artifact": { "retention_days": 1 }}
        }

  test:
    if: ${{ always() }}
    runs-on: ubuntu-latest
    needs: [test-scripts, test-workflow]
    steps:
      - run: exit 1
        if: ${{ contains(toJSON(needs.*.result), 'failure') || contains(toJSON(needs.*.result), 'cancelled') }}
